{% extends 'auth/auth.twig' %}
{% block head %}
    <link rel="stylesheet" href="/public/stylesheets/login.css">
{% endblock %}
{% block body %}
    {% include '../tmpl/error_modal.twig' with
        {
            'modal_id': 'noSuchUser',
            'modal_title': 'epic',
            'modal_content': 'Username or password is incorrect. Or the user doesn\'t even exist'
        } %}

    {% include '../tmpl/error_modal.twig' with
        {
            'modal_id': 'blankInputs',
            'modal_title': 'Blank inputs',
            'modal_content': "You can't have blank inputs. I mean, you should know that."
        }%}
    <div class="alert alert-success" role="alert" hidden>
        Successfully logged in!
    </div>
    <div class="container top-level">

        <div class="jumbotron">
            <div class="row">
                <div class="col">
                    <a href="#" onclick="window.history.back();">&lsaquo; Back</a>
                </div>

                <div class="col" style="text-align: right">
                    <a href="/auth/signup">Need an account? &rsaquo;</a>
                </div>
            </div>



            <h1>Log In</h1>
            <img src="https://i.redd.it/2qmc9wbq49g31.png" alt="meme 3" width="50%">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="material-icons">person</i></span>
                </div>
                <input type="text" class="form-control" placeholder="Username or Email" id="username">
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="material-icons">vpn_key</i></span>
                </div>
                <input type="password" class="form-control" placeholder="Password" id="password">
            </div>

            <input class="btn btn-success" type="submit" value="Log in" onclick="execLogin()">

        </div>
    </div>

    <script src="/public/javascripts/login.js"></script>
{% endblock %}