{% extends "../tmpl/layout.twig" %}
{% set title = "Admin Dashboard" %}
{% set logged_in = true %}
{% set is_admin = true %}
{% set nav_selected = "admin" %}

{% block head %}
    <link rel="stylesheet" href="/public/stylesheets/admin_zone/admin_zone.css">
{% endblock %}

{% block body %}

    <div class="container">
        <div class="jumbotron">
            <h1>Admin Panel</h1>
            <div class="row">
                <div class="col">
                    <i class="material-icons manage-memes-icon"
                       onclick="window.location.href = 'manage/memes'">build</i>
                    <span class="label">Manage Memes</span>
                </div>

                <div class="col">
                    <i class="material-icons user-icon"
                       onclick="window.location.href = 'manage/users'">person</i>
                    <span class="label">Manage Users</span>
                </div>

                <div class="col">
                    <i class="fas fa-terminal"></i>
                    <span class="label">App Debug Console</span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <i class="material-icons settings-icon">settings</i>
                    <span class="label">Configure Application</span>
                </div>

                <div class="col">
                    <i class="material-icons"
                       onclick="window.location.href = 'https://github.com/xiurobert/web-meme-repository/issues/new'">
                        bug_report
                    </i>
                    <span class="label">Complain to the developer</span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}