{% extends 'layout.twig' %}

{% block body %}

    <div class="container">
        <div class="jumbotron">
            <h1>About ProgrammerHumor2</h1>
            <p>I felt like it ok??</p>
        </div>
    </div>

{% endblock %}