{% extends 'layout.twig' %}
{% block head %}
  <link rel="stylesheet" href="/public/stylesheets/error.css" />
{% endblock %}
{% block body %}
  <div class="container">
    <div class="jumbotron">
      <h1 style="text-align: center">Oof </h1>
      <h2>{{error.status}} {{ message }}</h2>
        <pre>{{ error.stack }}</pre>
    </div>

  </div>

{% endblock %}
