{% extends 'tmpl/layout.twig' %}
{% set title = "Error" %}
{% block head %}
    <link rel="stylesheet" href="/public/stylesheets/error.css" />
{% endblock %}
{% block body %}
    <div class="container">
        <div class="jumbotron">
            <h1 style="text-align: center">
                {% if error_code == 404 %}
                    Oof
                {% elseif error_code == 500 %}
                    Our fault sowwy
                {% else %}
                    Big oof
                {% endif %}
            </h1>
            <h2>{{error.status}} {{ message }}</h2>
            {% if error_code == 404 %}
              <img src="https://preview.redd.it/55lw4hcsvlg31.png?width=960&crop=smart&auto=webp&s=51b11adfaeb4df57675f14ecb8107df8dd9124fe" width="30%">
            {% elseif error_code == 500 %}
              <img src="https://pics.me.me/browser-server-500-internal-server-error-43576113.png" width="30%">
            {% else %}
              Big oof
            {% endif %}
            {% if error_code == 500 %}
                <pre>{{ error.stack }}</pre>
            {% endif %}
        </div>

    </div>

{% endblock %}
