{% extends 'tmpl/layout.twig' %}
{% block head %}
    <link rel="stylesheet" href="/public/stylesheets/error.css" />
{% endblock %}
{% block body %}
    <div class="container">
        <div class="jumbotron">
            <h1 style="text-align: center">
                {% if error_code == 404 %}
                    Oof
                {% elseif error_code == 500 %}
                    Our fault sowwy
                {% else %}
                    Big oof
                {% endif %}
            </h1>
            {% if error_code == 404 %}
{#              Todo MORE MEMES #}
            {% elseif error_code == 500 %}
              <img src="https://pics.me.me/browser-server-500-internal-server-error-43576113.png" width="30%">
            {% else %}
              Big oof
            {% endif %}
            <h2>{{error.status}} {{ message }}</h2>
            <pre>{{ error.stack }}</pre>
        </div>

    </div>

{% endblock %}
