body {
    //padding: 50px;
    font: calc(0.85em + 1vw) "Comic Sans MS", Helvetica, Arial, sans-serif;

    h1 {
        font-size: 1.5em;
        text-align: center;
    }

    p {
        font-size: 0.9em;
    }
    .jumbotron {
        p {
            text-align: center;
        }
    }
}

.footer {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: flex;
    align-items: center;
    margin-right: 0;
    width: 100%;

    font-family: Arial, sans-serif;
    font-size: 80%;
    color: white;

    span {
        margin-bottom: 0;
    }

    .fab:hover {
        color: #007bff;
        cursor: pointer;
    }

    .copyright {
        float: left;
    }
    .stats {
        float: right;
    }
}

.navbar {
    margin-bottom: 2.5%;
    font-size: 70%;
}

a {
    color: #00B7FF
}



