body {
    //padding: 50px;
    font: 20px "Comic Sans MS", Helvetica, Arial, sans-serif;

    h1 {
        text-align: center;
    }
    .jumbotron {
        p {
            text-align: center;
        }
    }
}

.footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    align-items: center;

    font-family: Arial, sans-serif;
    font-size: 95%;
    color: white;

    span {
        margin-bottom: 0;
    }


    .fab:hover {
        color: #007bff;
        cursor: pointer;
    }

    .copyright {
        float: left;
    }
    .stats {
        float: right;
    }
}

.navbar {
    margin-bottom: 2.5%;
}

a {
    color: #00B7FF
}



