body {
  //padding: 50px;
  font: 20px "Comic Sans MS", Helvetica, Arial, sans-serif;
  h1 {
    text-align: center;
  }
  .jumbotron {
    p {
      text-align: center;
    }
  }
}

.navbar {
  margin-bottom: 2.5%;
}

a {
  color: #00B7FF
}

