.dtag-input-tags {
    margin: auto;
    text-align: center;

}

.dtag-input-tag {
    background-color: #5bc0de;
    border-radius: 10px;
    padding: 0.5% 1.5% 0.5% 1%;
    margin-right: 0.5%;
    margin-bottom: 0.5%;
    font-size: 90%;
    color: white;
    display: inline-block;

    .dtag-deltag {
        font-size: 100%;
        cursor: pointer;
    }
}

