{% extends '../tmpl/layout.twig' %}
{% set nav_selected = "about" %}
{% block head %}

    <link rel="stylesheet" href="/public/stylesheets/about.css">

{% endblock %}
{% block body %}

    <div class="container">
        <div class="jumbotron">
            <h1>About ProgrammerHumor2</h1>
            <img src="https://i.redd.it/ezydutc7rcg31.jpg" width="25%" alt="another meme">
            <p>It's funny I guess</p>
        </div>
    </div>

{% endblock %}