{% extends '../tmpl/layout.twig' %}
{% set nav_selected = "index" %}
{% block head %}

  <link rel="stylesheet" href="/public/stylesheets/index.css">

{% endblock %}
{% block body %}

  <div class="container">
    <div class="jumbotron">
      <h1>{{title}}</h1>
      <img src="https://i.imgur.com/rjBWzrk.jpg" alt="a meme" width="25%">
      <p>
        Welcome to {{ title }}<br/>
        A collection for all your random programming memes
      </p>
{#TODO: Make the search button work#}
      <div class="input-group">
        <input class="form-control" type="search" placeholder="Search user-submitted memes" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block js %}
  <script src="/public/javascripts/search.js"></script>
{% endblock %}