{% extends '../tmpl/layout.twig' %}
{% set title = "Dashboard" %}
{% set logged_in = true %}
{% set nav_selected = "dash" %}

{% block head %}
    <link rel="stylesheet" href="/public/stylesheets/user_zone/dash.css">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron">
            <h1>Dashboard</h1>
            <p>
                Bigger search box here (because you're logged in)
            </p>
            <div class="input-group">
                <input class="form-control" type="search" placeholder="Search user-submitted memes" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-outline-success" type="submit" onclick="searchMeme()">Search</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="/public/javascripts/search.js"></script>
{% endblock %}