{% extends '../tmpl/layout.twig' %}
{% set title = "Dashboard" %}
{% set logged_in = true %}
{% set nav_selected = "dash" %}

{% block head %}

{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron">
            <h1>Dashboard</h1>
            <p>
                Bigger search box here (because you're logged in)
            </p>
{#TODO: Add search#}
            <div class="input-group">
                <input class="form-control" type="search" placeholder="Search user-submitted memes" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </div>
            </div>
        </div>

        <div class="jumbotron">
            <h1>Manage my memes</h1>
            <p>Manage your memes, edit or delete the submissions</p>
        </div>
    </div>
{% endblock %}