{% extends '../tmpl/layout.twig' %}
{% set logged_in = true %}
{% set title = "Your Profile | PH2" %}
{% set nav_selected = "my_profile" %}


{% block head %}
    <link rel="stylesheet" href="/public/stylesheets/user_zone/my_profile.css">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron">
            <h1>My profile</h1>

            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="material-icons">email</i></span>
                </div>
                <input type="text" class="form-control" placeholder="{{ email }}" id="email" disabled>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="editEmail">Edit</button>
                </div>
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="material-icons">person</i></span>
                </div>
                <input type="text" class="form-control" placeholder="{{ username }}" id="username" disabled>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="editUsername">Edit</button>
                </div>
            </div>

        </div>
    </div>
{% endblock %}