{% extends '../tmpl/layout.twig' %}
{% set logged_in = true %}
{% set nav_selected = "my_profile" %}


{% block head %}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron">
            <h1>My profile</h1>
            <p>
                {{ username }}: {{ email }}
            </p>

        </div>
    </div>
{% endblock %}