{% extends '../tmpl/layout.twig' %}
{% set logged_in = true %}
{% set title = "Your Profile" %}
{% set nav_selected = "my_profile" %}

{% block head %}
    <link rel="stylesheet" href="/public/stylesheets/user_zone/my_submissions.css">
{% endblock %}


{% block body %}
    <div class="container">
        <div class="jumbotron">
            <h1>Manage my memes</h1>
            <p>Manage your memes, edit or delete the submissions</p>

            <div id="yourMemes">
                {% for meme in memes %}
                    <div class="meme" onclick="window.location.href = '/meme/{{ meme.key }}'">
                        <p>{{ meme.title }}</p>
                        <img src="{{ meme.mediaLink }}" width="100%">
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>

{% endblock %}