{% extends '../tmpl/layout.twig' %}
{% set title = "Complete your submission" %}
{% set logged_in = true %}
{% set nav_selected = "submit" %}

{% block head %}
    <link rel="stylesheet" href="/public/stylesheets/user_zone/submit_page.css">
    <link rel="stylesheet" href="/public/stylesheets/tag_input.css">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron">
            <h1>Complete your meme submission</h1>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Title</span>
                </div>
                <input type="text" class="form-control" placeholder="Submission title"
                       id="title" value="{{ submission_title }}">
            </div>

            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Tags</span>
                </div>
                <input type="text" class="form-control tag-input" placeholder="Tags" id="tags">
            </div>

            <div class="input-group txta">
                <div class="input-group-prepend">
                    <span class="input-group-text">Description</span>
                </div>
                <textarea class="form-control" placeholder="Optional"></textarea>
            </div>

            <div class="input-group">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown">Attach meme</button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#" id="attachLink">Link</a>
                        <a class="dropdown-item" href="#" id="attachMedia">Upload</a>
                    </div>
                </div>
                <input type="text" class="form-control" placeholder="Link to meme" id="memeLink">
                <div class="custom-file" hidden>
                    <input type="file" class="custom-file-input" id="inputGroupFile01">
                    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="/public/javascripts/tag_input.js"></script>
    <script src="/public/javascripts/complete_submission.js"></script>
{% endblock %}