{% extends '../tmpl/layout.twig' %}
{% set logged_in = true %}
{% set nav_selected = "submit" %}


{% block head %}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron">
            <h1>Submission</h1>
            <p>
                Submit a meme
            </p>

        </div>
    </div>
{% endblock %}