{% extends '../tmpl/layout.twig' %}
{% set title = "Complete your submission" %}
{% set logged_in = true %}
{% set nav_selected = "submit" %}

{% block head %}
    <link rel="stylesheet" href="/public/stylesheets/user_zone/submit_page.css">
    <link rel="stylesheet" href="/public/stylesheets/tag_input.css">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="alert alert-danger alert-dismissible fade show invalidUrl" role="alert" hidden>
            <strong>Hey!</strong> That meme is not an image!
        </div>
        <div class="alert alert-danger alert-dismissible fade show emptyFields" role="alert" hidden>
            <strong>Hey!</strong> Title and/or tags can't be blank!
        </div>
        <div class="alert alert-danger alert-dismissible fade show emptyMemeLink" role="alert" hidden>
            <strong>Hey!</strong> Meme URL can't be blank!
        </div>

        <div class="alert alert-danger alert-dismissible fade show emptyFile" role="alert" hidden>
            <strong>Hey!</strong> You didn't attach a meme!
        </div>
        <div class="jumbotron">
            <h1>Complete your meme submission</h1>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Title</span>
                </div>
                <input type="text" class="form-control" placeholder="Submission title"
                       id="title" value="{{ submission_title }}">
            </div>

            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Tags</span>
                </div>
                <input type="text" class="form-control tag-input" placeholder="Tags" id="tags">
            </div>

            <div class="input-group txta">
                <div class="input-group-prepend">
                    <span class="input-group-text">Description</span>
                </div>
                <textarea class="form-control" placeholder="Optional" id="description"></textarea>
            </div>

            <div class="input-group">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown">Attach meme</button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#" id="attachLink">Link</a>
                        <a class="dropdown-item" href="#" id="attachMedia">Upload</a>
                    </div>
                </div>
                <input type="text" class="form-control" placeholder="Link to meme" id="memeLink">
                <div class="input-group-append" id="previewMeme">
                    <button class="btn btn-outline-secondary" type="button" onclick="previewMeme()">Preview</button>
                </div>
                <div class="custom-file form-control" hidden>
                    <input type="file" class="custom-file-input" id="mediaFile"
                           onchange="procFile(this)">
                    <label class="custom-file-label" for="mediaFile">Upload your meme</label>
                </div>
            </div>

            <img src="" width="30%" class="memepreview"/>

            <button class="btn btn-primary" type="submit" id="submitMeme" onclick="submitMeme()">Submit meme!</button>



        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="/public/javascripts/tag_input.js"></script>
    <script src="/public/javascripts/complete_submission.js"></script>
{% endblock %}