{% extends '../tmpl/layout.twig' %}
{% set title = "Submit" %}
{% set logged_in = true %}
{% set nav_selected = "submit" %}


{% block head %}
    <link rel="stylesheet" href="/public/stylesheets/user_zone/submit.css">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron">
            <h1>Submission</h1>
            <p>
                Submit a meme to PH2
            </p>

            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Title</span>
                </div>
                <input type="text" class="form-control" placeholder="Title of submission" id="title">
            </div>

            <button class="btn btn-success" id="newSubmission" type="submit">Create new submission</button>

        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $("#newSubmission").click(function() {
            window.location.href = "/z/complete_submission?title=" + $("#title").val();
        });

        $(document).on('keyup', function(e) {
            if (e.which === 13) {
                window.location.href = "/z/complete_submission?title=" + $("#title").val();
            }
        })
    </script>
{% endblock %}
