<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }} | PH2</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/public/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/public/stylesheets/style.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="icon" href="https://www.php.net/favicon.ico" type="image/x-icon">

    <script src="https://kit.fontawesome.com/280b77c167.js"></script>
    {% block head %}
    {% endblock %}
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top">
        <a class="navbar-brand" href="/">ProgrammerHumor2</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% if logged_in %}
                    <li class="nav-item {% if nav_selected == "dash" %}active{% endif %}"><a class="nav-link" href="/z/dash">Dashboard</a></li>
                    <li class="nav-item {% if nav_selected == "submit" %}active{% endif %}"><a class="nav-link" href="/z/submit">Submit</a></li>
                {% endif %}


                <li class="nav-item {% if nav_selected == "index" %}active{% endif %}"><a class="nav-link" href="/home">Home</a></li>
                <li class="nav-item {% if nav_selected == "about" %}active{% endif %}"><a class="nav-link" href="/about">About</a></li>
                <li class="nav-item dropdown {% if nav_selected == "admin" %}active{% endif %}">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                        Memes
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/meme/browse/1">Browse memes</a>
                        <a class="dropdown-item" href="/meme/random">Random Meme</a>
                    </div>
                </li>
{#                <li class="nav-item {% if nav_selected == "browse" %}active{% endif %}"><a class="nav-link" href="/meme/browse/1">Browse</a></li>#}
{#                <li class="nav-item"><a class="nav-link" href="/meme/random">Random</a></li>#}

                {% if is_admin %}
                    <li class="nav-item dropdown {% if nav_selected == "admin" %}active{% endif %}">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                            Admin
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="/admin/">Admin Home</a>
                            <a class="dropdown-item" href="/admin/manage/memes">Manage Memes</a>
                            <a class="dropdown-item" href="/admin/manage/users">Manage Users</a>
                            <a class="dropdown-item" href="/admin/app_console">Application Console</a>
                        </div>
                    </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if not logged_in %}
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                        Authenticate
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="/auth/login">Log In</a>
                        <a class="dropdown-item" href="/auth/signup">Sign Up</a>
                    </div>
                {% elseif logged_in %}
                    <li class="nav-item dropdown {% if nav_selected == "my_profile" %}active{% endif %}">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                            <i class="material-icons">person</i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="/z/my_profile">My Profile</a>
                            <a class="dropdown-item" href="/z/my_submissions">My Submissions</a>
                            <a class="dropdown-item" href="#">Settings</a>
                            <a class="dropdown-item" href="/auth/logout">Log out</a>
                        </div>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>

<main role="main">
    {% block body %}
    {% endblock %}
</main>


<footer class="footer bg-dark">
    <div class="container">
        <span class="copyright">
            MEMeStack 3.4.5 &nbsp;
            <i class="fab fa-github icon-hover"></i>&nbsp;
            <i class="fas fa-bug icon-hover"></i>&nbsp;
            {% if totalMemes %}Total memes: {{ totalMemes }}{% endif %}&nbsp;
            {% if is_admin %}MEMePanel 1.2.1{% endif %}
        </span>
        <span class="stats"> Page generated in <span class="loadTime"></span>ms.</span>
    </div>
</footer>

<script src="/public/javascripts/jquery-3.4.1.min.js"></script>
<script src="/public/javascripts/popper.min.js"></script>
<script src="/public/javascripts/bootstrap.min.js"></script>
<script src="/public/javascripts/layout.js"></script>
{% block js %}
{% endblock %}
</body>
</html>
